{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <section class="services-area section-gap" style="background-image: none!important;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content  col-lg-7">
                    <div class="title text-center">
                        <h1 class="mb-10">Nos Services</h1>
                        <p>Nous vous offrons toutes les prestations nécessaires pour mettre votre business sur orbite </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 justify">
                    <div class="single-services">
                        <span class="lnr lnr-magic-wand"></span>
                        <a href="#"><h4>Événementiel</h4></a>
                        <p class="justify">
                            Besoin de simples conseils ou d’une organisation de A à Z de vos événements?
                            ADVITRUST s’occupe de tout pour mener à bien et jusqu’au bout tous vos projets événementiels.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-services">
                        <span class="lnr lnr-screen"></span>
                        <a href="#"><h4>Marketing Digital</h4></a>
                        <p class="justify">
                            Dans cette ère de digitalisation, disposer d’outils numériques au service de la
                            communication devient incontournable. Ainsi nous mettons à la portée de nos
                            clients des offres purement numériques pour qu’ils puissent se mettre en
                            avant sur le web que ce soit pour le branding, la promotion et plus encore.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-services">
                        <span class="lnr lnr-pie-chart"></span>
                        <a href="#"><h4>Audit de communication</h4></a>
                        <p class="justify">
                            Pour optimiser la performance de votre entreprise, nous vous proposons de faire
                            un audit de votre communication pour en tirer le meilleur de cette dernière

                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-services">
                        <span class="lnr lnr-bubble"></span>
                        <a href="#"><h4>Conseils en communication</h4></a>
                        <p class="justify">
                            Véritable levier de développement pour un organisme, la communication doit
                            permettre une meilleure organisation en interne et une valorisation de
                            celui-ci en externe. C’est dans ce sens que nous vous proposons les meilleurs
                            conseils et stratégies pour booster votre communication et ainsi atteindre vos objectifs.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-services">
                        <span class="lnr lnr-heart-pulse"></span>
                        <a href="#"><h4>Résponsabilité Sociétale des Entreprises</h4></a>
                        <p class="justify">
                            Pour mieux appréhender vos activités en RSE et garantir de véritables impacts
                            découlant de celles-ci, nous vous proposons de vous conseiller et de vous
                            accompagner dans tous vos projets en faveur de la RSE.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-services">
                        <span class="lnr lnr-rocket"></span>
                        <a href="#"><h4>Externalisation</h4></a>
                        <p class="justify">
                            L’externalisation se démarque par un modèle souple et efficace qui vous assurera
                            d’être entouré de meilleures compétences tout en maîtrisant vos coûts.
                            Nous vous proposons d'externaliser vos têtes pensantes en communication et en RSE.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="services-area section-gap" style="background-image: none!important;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content  col-lg-7">
                    <div class="title text-center">
                        <h1 class="mb-10">Nos Produits</h1>
                        <p>Nous proposons 4 packs de base pour l’externalisation de la communication: </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 justify">
                    <div class="single-services">
                        <span class="lnr lnr-laptop-phone"></span>
                        <a href="#"><h4>DIGITALE</h4></a>
                        <p class="justify">
                            Le pack Digital comprend des offres
                            purement numériques à la disposition des
                            clients qui veulent se mettre en avant sur le
                            web que ce soit pour la promotion, le
                            branding, etc… ce pack est fait pour vous. Dans
                            ce pack, nous offrons les services suivants :
                        </p>
                        <p>
                            <ul class="produit_list">
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Mise en place et élaboration d’une stratégie
                                    de campagne numérique</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Emailing</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Newsletter</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Promotion sur les réseaux sociaux,
                                    community management</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">SEO et SEM</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Analyses et Reporting</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="single-services">
                        <span class="lnr lnr-briefcase"></span>
                        <a href="#"><h4>STARTER</h4></a>
                        <p class="justify">
                            Le pack starter s’adresse aux associations ou
                            startups n’ayant pas les moyens d’avoir un
                            département communication mais qui ne
                            voudrais pas laisser la communication pour
                            compte et ayant surtout besoin de qualité.
                            Dans ce pack nous proposons les services
                            suivants :
                        </p>
                        <p>
                            <ul class="produit_list">
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Community management</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Elaboration des publications et supports
                                    destinées à l’interne. (email, affiches internes,
                                    notes de services, etc…) </li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Elaboration des publications et supports
                                    destinées à l’externe. (newsletter, affiches,
                                    vidéo motion design,roll up, etc…)</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Impression d’un roll up par mois ou de 100
                                    Affiche A4 ou de 50 Affiches A3 <strong class="note">(1)</strong></li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Conception et mise en œuvre de politique de
                                    communication publicitaire</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Présence d’un (1) chargé de mission une (1)
                                    fois par semaine.</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="single-services">
                        <span class="lnr lnr-store"></span>
                        <a href="#"><h4>PME</h4></a>
                        <p class="justify">
                            Le pack PME s’adresse aux associations ou
                            PME désireux de se mettre un peu plus en
                            avant. Le pack comprend les services suivants:
                        </p>
                        <p>
                            <ul class="produit_list">
                                <li><img class="check" src="{{ asset('build/images/check.png') }}"> Community management</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Elaboration des publications et supports
                                    destinées à l’interne. (email, affiches internes,
                                    notes de services, etc…) </li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Elaboration des publications et supports
                                    destinées à l’externe. (newsletter, affiches,
                                    vidéo motion design,roll up, etc…)</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Impression d’un roll up par mois ou de 100
                                    Affiche A4 ou de 50 Affiches A3 <strong class="note">(1)</strong></li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Conception et mise en œuvre de politique de
                                    communication publicitaire</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Conseils événementiels</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Communication interne de niveau 1<small class="note">*</small></li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Présence d’un (1) chargé de mission une (1)
                                    fois par semaine.</li>

                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="single-services">
                    <span class="lnr lnr-apartment"></span>
                    <a href="#"><h4>CORPORATE</h4></a>
                    <p class="justify">
                        Le pack corporate s’adresse aux associations ou entreprise voulant être incontournable dans leur domaine
                        d’activité tout en ayant une communication interne à l’image de l’externe. Le pack comprend les services
                        suivants
                    </p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <p>
                            <ul class="produit_list">
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Community management</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Elaboration des publications et supports
                                    destinées à l’interne. (email, affiches internes,
                                    notes de services, etc…) </li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Elaboration des publications et supports
                                    destinées à l’externe. (newsletter, affiches, vidéo
                                    motion design,roll up, etc…)</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Impression de deux (2) roll up par mois et de 300
                                    Affiche A4 ou de 150 Affiches A3 <strong class="note">(1)</strong></li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Elaboration d’une stratégie de communication </li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Conseils événementiels</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Communication interne de niveau 2**</li>
                            </ul>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <p>
                            <ul class="produit_list">
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Mise en place d’une politique de communication
                                    générale</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Conception, planification et mise en œuvre des
                                    stratégies de communication</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Communication digitale avec des dépenses en
                                    annonces jusqu’à 250$</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">SEO</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Communication de crise </li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Conseils événementiels</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Communication interne de niveau 2<small class="note">**</small></li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Présence d’un (1) chargé de mission une (1)
                                    fois par semaine.</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row section-gap">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h6><strong class="note">(1)</strong> Cumulable seulement 2 fois.</h6>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="single-services">
                        <a href="#"><h5 class="note">* Communication interne de niveau 1</h5></a>
                        <p>
                        <ul class="produit_list">
                            <li><img class="check" src="{{ asset('build/images/check.png') }}">Conforter le rôle de chaque employé </li>
                            <li><img class="check" src="{{ asset('build/images/check.png') }}">Faire connaitre les règles communes </li>
                            <li><img class="check" src="{{ asset('build/images/check.png') }}">Facilitation de la cohésion des groupes</li>
                            <li><img class="check" src="{{ asset('build/images/check.png') }}">Facilitation des partages d’expérience</li>
                            <li><img class="check" src="{{ asset('build/images/check.png') }}">Facilitation de l’interaction au quotidien
                                entre salariés, services…</li>
                        </ul>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="single-services">
                        <a href="#"><h5 class="note">** Communication interne de niveau 2</h5></a>
                        <p>
                            <ul class="produit_list">
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Conforter le rôle de chaque employé </li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Faire connaitre les règles communes </li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Facilitation de la cohésion des groupes</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Facilitation des partages d’expérience</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Facilitation de l’interaction au quotidien
                                    entre salariés, services…</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Analyse du climat social </li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Mettre en place des systèmes de suggestion et être à
                                    l’écoute du personnel </li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Organisation de formation en interne</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}">Faciliter la communication ascendante et descendante</li>
                                <li><img class="check" src="{{ asset('build/images/check.png') }}"> Mise en place d’un journal interne mensuel (coûts de
                                    production inclus)</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h6 class="note">Les offres personnalisées sont disponibles sur devis</h6>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
